#root {
  width: 100vw;
  height: 100vh;
}

.ol-rotate {
  display: none;
}

.ol-zoom {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
}

.ol-attribution {
  bottom: 0;
  position: absolute;
  padding: 1rem;
}

.ol-attribution ul {
  list-style-type: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: none;
}

.ol-attribution button[aria-expanded="true"] + ul {
  display: block;
}

.show-labels {
  position: absolute;
  z-index: 99;
  bottom: 0;
  padding: 1rem;
  right: 0;
}

.show-labels input {
    margin-left: 0.5rem;
}